@import 'tailwindcss';

@theme {
  --font-header: 'MomoTrustDisplay', 'sans-serif';
  --font-content: 'MomoTrustSans', 'sans-serif';

  --color-nt1-violet-light: #c7a3f7;
  --color-nt1-violet-dark: #ba5be8;
  --color-nt1-orange-light: #ffdc5b;
  --color-nt1-orange-dark: #ffaa56;
  --color-nt1-offwhite: #dbd5eb;
  --text-2xs: 0.625rem;
  --shadow-xl-wide:
    0 10px 25px -3px var(--tw-shadow-color, rgb(0 0 0 / 0.12)),
    0 8px 10px -6px var(--tw-shadow-color, rgb(0 0 0 / 0.12));
}

/* Remove Chrome focus outline on loading an active anchor hash */
:focus-visible {
  outline: none;
}


.with-bg::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-size: cover;
  background-position: center center;
}

.header-bg::after {
  background-image: url(/images/header-bg.webp);
}

.values-bg::after {
  background-image: url(/images/values-bg.webp);
}

.with-overlay::after {
  @apply bg-neutral-100/70;
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Parallax */

/* Will match every device that isn't a smartphone with touch screen */
@media (pointer: fine), (hover: hover) {
  html {
    @apply h-full overflow-hidden;
  }

  body {
    @apply h-full overflow-x-hidden overflow-y-auto perspective-[1px] transform-3d;
  }

  body * {
    transform-style: inherit;
  }

  .parallax-10 {
    transform: translateZ(-0.1px) scale(1.1);
  }
  .parallax-25 {
    transform: translateZ(-0.25px) scale(1.25);
  }
  .parallax-50 {
    transform: translateZ(-0.5px) scale(1.5);
  }
  .parallax-100 {
    transform: translateZ(-1px) scale(2);
  }

  .with-bg::after {
    transform: translateZ(-0.5px) scale(1.6);
  }

  .with-overlay::after {
    transform: translateZ(-0.5px) scale(1.6);
  }
}

/* End Parallax */

.auto-slide {
  animation: auto-slide alternate infinite 6s ease-in-out;
}

.delayed-animation {
  animation-delay: -6s;
}

@keyframes auto-slide {
  0%,
  50% {
    transform: translateX(-10px);
    opacity: 0;
    pointer-events: none;
  }
  60%,
  100% {
    transform: translateX(0);
    opacity: 1;
    pointer-events: initial;
  }
}

.just-text {
  ul {
    @apply ml-8 list-disc leading-relaxed font-light;

    @media (width >= 48rem /* md */) {
      max-width: calc(100% - 220px);
    }
  }

  p {
    @apply leading-relaxed font-light;
  }

  p:not(:last-of-type) {
    @apply mb-4;
  }

  h4 {
    @apply mb-3 text-2xl;

    @media (width >= 48rem /* md */) {
      @apply text-3xl;
    }
  }

  h5 {
    @apply mt-8 mb-3 text-xl;

    @media (width >= 48rem /* md */) {
      @apply text-2xl;
    }
  }
}

.notice-me {
  overflow: hidden;
  position: relative;
  &::after {
    content: '';
    background-color: white;
    width: 10%;
    height: 250%;
    position: absolute;
    top: -50%;
    left: -20%;
    opacity: 0;
    transform: rotate(30deg);
    filter: blur(20px);
    animation: notice-me infinite 4s linear;
    animation-delay: 4s;
  }
}

@keyframes notice-me {
  0% {
    left: -20%;
    opacity: 0;
    transform: rotate(30deg);
  }
  10%,
  20% {
    opacity: 1;
  }
  30%,
  100% {
    left: 120%;
    opacity: 0;
    transform: rotate(50deg);
  }
}
